.user {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  justify-content: center;
}

.picture {
  height: 20rem;
  border-radius: 50%;
}

.information {
  display: flex;
  width: 25vw;
  flex-direction: column;
  justify-content: space-between;
  height: 470px;
}

.content {
  text-align: justify;
}
