.navbar {
  min-height: 10vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  color: black;
  border: none;
  background-color: transparent;
  font-size: 16px;
}
